# Static table lookup for hostnames.
# See hosts(5) for details.
#
{{ K8S_Master_IP }}     {{ K8S_Master_hostname }}
{{ K8S_Node01_IP }}     {{ K8S_Node01_hostname }}
{{ K8S_Node02_IP }}     {{ K8S_Node01_hostname }}
