# vCenter host
export GOVC_URL={{ item.key }}
# vCenter credentials
export GOVC_USERNAME={{ item.value.vcenter_user }}
export GOVC_PASSWORD={{ item.value.vcenter_pass }}
# disable cert validation
export GOVC_INSECURE=true
